Sequel.migration do
  change do
    create_table(:{{table_name}}) do
      primary_key :id
      {% for field in fields -%}
      {{ field.sql_type }} :{{ field.name }}
      {% endfor -%}
      {% if belongs_to_id -%}
      Integer :{{ belongs_to_id }}
      {% endif -%}
    end
  end
end